<h1>My Projects</h1>

<% @projects.each do |project| %>
  <article>
    <div class="badge" data-urgency="<%= project.urgency %>">
      <%= project.urgency %> priority
    </div>

      <div>
        <h2><%= project.name %></h2>
        <p><%= project.description %></p>
        <a href="<%= project.url %>" target="_blank">View on Github</a>
      </div>

      <div>
        <p><strong>Created:</strong> <%= Time.new(project.created_at).strftime('%B %Y') %></p>
        <p><strong>Last pushed:</strong> <%= project.pushed_ago %> <%= project.pushed_ago == 1 ? 'day' : 'days' %> ago</p>
      </div>

      <div>
        <p><strong>Status</strong>: <%= project.status %></p>
        <p><strong>Type:</strong> <%= project.type %></p>
      </div >

    <ul>
      <% project.languages.first(3)&.each do |language| %>
        <li><strong><%= language[0] %>:</strong> <%= (language[1].fdiv(project.total_lines) * 100).round %>%</li>
      <% end %>
    </ul>
  </article>
<% end %>
