<h1>My Projects</h1>

<% @projects.each do |project| %>
  <article style="display: flex; gap:2rem;">
    <div>
      <strong><%= project.name %></strong>
      <p><%= project.description %></p>
      <a href="<%= project.url %>" target="_blank">View on Github</a>
    </div>
    <div>
      <p><%= project.status %></p>
      <p><%= project.type %></p>
      <p><%= project.urgency %></p>
    </div>
    <ul>
      <% project.languages&.each do |language| %>
        <li><%= language %></li>
      <% end %>
    </ul>
  </article>
<% end %>
